<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Default" 
			 connectionString="Data Source=DESKTOP-VI7HLAA\SQLEXPRESS;Initial Catalog=StudentMarks;Integrated Security=True;Connect Timeout=30;"
			 providerName = "System.Data.SqlClient"/>
		<add name ="OracleDb" 
			 connectionString="Data Source=DESKTOP-VI7HLAA\SQLEXPRESS;Initial Catalog=BarberShop;Integrated Security=True;Connect Timeout=30;" 
			 providerName="Oracle.DataAccess.Client"/>
	</connectionStrings>
</configuration>