<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DefaultConnection"
			 connectionString="Data Source=DESKTOP-VI7HLAA\SQLEXPRESS;Initial Catalog=Storage;Integrated Security=True;Connect Timeout=30;"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>